html {
    margin: 0px 20px;
}

#contact-info li, #contact-info p{
    margin: 0px;
    padding: 0px;
}

section h3{
    text-decoration: underline;
    margin-bottom: 12px;
    margin-top: 10px;
}

section h5, section p{
    text-indent: 20px;
    margin-bottom: 5px;
    margin-top: 18px;
    padding: 0;
}

section ul{
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
}